@media (orientation: landscape) {#kor{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;}


#add_div{
    cursor: pointer;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 30px;
    height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 25px;
    text-align: center;
    background-color: #47B0DF;
    width: 15%;
}
#add_div img{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 68%;
}
#add_div div{
    margin-bottom: 10%;
}

#discount{
    color: red;
    margin-left: 11%;
    margin-top: 1%;
 position: absolute;
}
#zak {
    cursor: pointer;
  text-decoration: none;
  padding: 20px 30px;
  margin-top: 2%;
  position: relative;
  color: rgb(49, 8, 255);
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#zak:before, #zak:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
#zak:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid rgb(40, 21, 166);
  border-top: 1px solid rgb(40, 21, 166);
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
#zak:after {
  top: 0;
  right: 0;
  border-right: 1px solid rgb(40, 21, 166);
  border-bottom: 1px solid rgb(40, 21, 166);
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
#zak:hover:before, 
#zak:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
#zak:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
#zak:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
#zak:hover {
  background: rgba(255, 255, 255, .2);
}}
@media (orientation: portrait) {
  #kor{
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
  }
  
  #add_div{
      cursor: pointer;
      margin-top: 2%;
      margin-left: 4%;
      font-size: 5vw;
      height: 45vw;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      border-radius: 25px;
      text-align: center;
      background-color: #47B0DF;
      width: 45%;
  }
  #add_div img{
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-height: 68%;
  }
  #add_div div{
      margin-bottom: 10%;
  }
  
  #discount{
      color: red;
      margin-left: 31%;
      margin-top: 2%;
   position: absolute;}
   #zak {
    cursor: pointer;
  text-decoration: none;
  font-size: 6vw;
  padding: 20px 30px;
  margin-top: 2%;
  position: relative;
  color: rgb(49, 8, 255);
  border: 4px solid rgb(40, 21, 166);
  background: rgba(255, 255, 255, .2);
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
}